<!--Tom Smolarek 1801495-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<!--here I created 3 different ion lists with their own headlines-->
<ion-content>
  <ion-list>
    <ion-list-header style="font-size:18pt;">Education</ion-list-header>
    <ion-item>08/2003-06/2007 <br>
      Elementary School: Johannes-Keppler-Schule </ion-item>
    <ion-item>08/2007-06/2015 <br>
      High School: Albert-Einstein-Gymnasium Böblingen</ion-item>
    <ion-item>since 09/2016 <br>
      University: Hochschule Neu-Ulm<br>
      field of study: Information Management</ion-item>

    <ion-list-header style="font-size:18pt;">Software skills</ion-list-header>
    <ion-item>Ionic 4</ion-item>
    <ion-item>HTML</ion-item>
    <ion-item>Java</ion-item>
    <ion-item>MYSQL</ion-item>
    <ion-item>Matlab</ion-item>
    <ion-item>MS Office</ion-item>

    <ion-list-header style="font-size:18pt;">Language skills</ion-list-header>
    <ion-item>German</ion-item>
    <ion-item>English</ion-item>
    <ion-item>Polish</ion-item>
    <ion-item>Spanish</ion-item>
  </ion-list>
</ion-content>