<!--Tom Smolarek 1801495-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--here i created a ion card with 4 items including a fitting icon-->
<ion-content>
  <ion-card>
    <ion-card-header style="font-size:18pt;">
      Contact information
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="Contact" slot="start"></ion-icon>
        Tom Smolarek
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        Asternweg 8<br>
        71106 Magstadt
      </ion-item>
      <ion-item>
        <ion-icon name="at" slot="start"></ion-icon>
        tom.smolarek@web.de
      </ion-item>
      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        01578/9088837
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>