<!--Tom Smolarek 1801495-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Targeted CV
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--here I created a ion card with a picture, title and a text-->
<ion-content>
  <ion-card>
    <img height="150" src="assets/shiptJob.png" />
    <ion-card-content>
      <ion-card-title text-center>
        Why me?
      </ion-card-title>
      <p>
        I want to apply as an Ionic/Angular Developer at Shipt because you are young group
        of entrepreneurs with a great idea and I want to be a part of it.<br>
        <br>
        My strengths are that I can quickly integrate myself into a team
        and then worke on my tasks reliably. This you can particularly see in my previous group projects,
        where I often took the lead and worked effectively with my team.<br>
        <br>
        Currently I am doing a semester abroad in Finland at the Laurea University.
        Here I took the course Introduction to Mobile App Design and Development where I learned all about
        Ionic programming and how to create the best UX with your App.
        I already have a basic understanding of the structure of hybrid Apps
        and with additional courses in the future I want to deepen my knowledge.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>