<!--Tom Smolarek 1801495-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Project Work
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--here I created a ion card with a picture, title and a list with a checkbox icon-->
<ion-content>
  <ion-card>
    <img height="250" src="assets/projects.png" />
    <ion-card-content>
      <ion-card-title>
        In my previous projects I learned:
      </ion-card-title>
      <ion-list>
        <ion-item>
          <ion-icon name="checkbox" item-start></ion-icon>
          Building a prototype
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-icon name="checkbox" item-start></ion-icon>
          Using different components
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-icon name="checkbox" item-start></ion-icon>
          Building a menu
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-icon name="checkbox" item-start></ion-icon>
          Building a login process
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>